@model GuildCars.UI.Models.ModelsViewModel

@{
    ViewBag.Title = "Models";
}

<div class="row">
    <div class="col-xs-12">
        <h2 id="pageTitle">Models</h2>
    </div>
</div>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{


    using (Html.BeginForm("Models", "Sales", FormMethod.Post, new { id = "formAddModel", enctype = "multipart/form-data", onsubmit = "return validateForm()" }))
    {
<div class="row">
    @Html.ValidationSummary("", new { @class = "validationSummary" })
        <div class="col-xs-12 col-sm-12 col-md-12" style="border:solid; border-radius:5px; margin-left: 15px; padding-top: 20px; border-width:thin;">
            <div class="col-md-1" style="margin-right:0px; padding-right: 0px; margin-top:5px;">
                <p><strong>New Model</strong></p>
            </div>
            <div class="col-md-4" style="margin-left:0px;">
                @Html.TextBoxFor(m => m.VehicleModel.ModelName, new { @class = "form-control", @id = "modelName" })
            </div>
            <div class="col-md-1" style="margin-right:0px; margin-top:5px; padding-right:0px;">
                <p><strong>Make</strong></p>
            </div>
            <div class="col-md-4" style="margin-left:0px; padding-left: 0px;">
                @Html.DropDownListFor(m => m.VehicleModel.Make.MakeId, Model.MakesSelectList, new { @class = "form-control" })
            </div>

            <div class="col-md-1">
                <button class="btn btn-primary" onclick="return validateForm()" type="submit">Save</button>
            </div>


        </div>
    </div>
    }

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5">
            <table class="table table-striped" style="border:solid; border-width: thin; border-radius: 5px; margin-top: 20px;">
                <thead>
                    <tr style="background-color:gray">
                        <td style="border-right:solid; border-width:thin;"><strong>Make</strong></td>
                        <td style="border-right:solid; border-width:thin;"><strong>Model</strong></td>
                        <td style="border-right: solid; border-width: thin;"><strong>Date Added</strong></td>
                        <td style="border-right: solid; border-width: thin;"><strong>User</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var make in Model.Makes)
                    {
                        foreach (var vehicleModel in Model.Models)
                        {
                            if (make.MakeId == vehicleModel.Make.MakeId)
                            {
                                <tr>
                                    <td style="border-right:solid; border-width:thin;">@make.MakeName</td>
                                    <td style="border-right:solid; border-width:thin;">@vehicleModel.ModelName</td>
                                    <td style="border-right:solid; border-width:thin;">@vehicleModel.DateModelCreated.ToString("MM/dd/yyyy")</td>
                                    <td style="border-right:solid; border-width:thin;">@vehicleModel.UserEmail</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p><strong> You don't have access to this page.</strong></p>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            console.log('ready');

        });

        function validateForm() {
            $('#formAddModel').submit(function (e) {
                var modelName = $('#modelName').val();

                $(".error").remove();
                if (modelName.length < 1) {
                    $('#pageTitle').after('<span class="error"> New Model field is required.</span>');
                    e.preventDefault();
                }
            })
        };
    </script>
}

